body {
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    margin: 0;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}
  
nav a {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 30px 50px;
    text-decoration: none;
    font-size: 1.1em;
}

nav .logo {
    float: left;
    padding: 19px;
}

nav .logo img {
    height: 50px;
    width: auto;
}

nav a:hover {
    color: orange;
}

#banner {
    width: 100%;
    overflow: hidden;
    margin: 0;
}

#banner img{
    display: block;
    width: 100%;
    margin: -11% 0;
}

#banner-text-index {
    position: absolute;
    left: 40px;
    top: 170px;
    color: orange;
    width: 50%;
}

#banner-text-about-us {
    position: absolute;
    left: 120px;
    top: 130px;
}

#banner-text-what {
    position: absolute;
    left: 80px;
    top: 220px;
    color: black;
    background-color: rgb(255,255,255,0.8);
    padding-left: 40px;
}

#banner-text-why {
    position: absolute;
    left: 80px;
    top: 320px;
    color: orange;
}

#banner-text-started {
    position: absolute;
    left: 100px;
    top: 250px;
}

.banner-text h1 {
    font-size: 4rem;
}

.banner-text {
    max-width: 40%;
}

main {
    max-width: 960px;
    margin: auto;
}

section {
    margin: 100px 0;
}

button {
  background-color: orange; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  margin-top: 20px;
}

button:hover {
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    margin-bottom: 30px;
    letter-spacing: 2px;
}

h2 {
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    letter-spacing: 0.3px;
    line-height: 1.8;
    margin: 0;
}

a {
    color: orange;
    cursor: pointer;
}

button a {
    color: white;
    text-decoration: none;
    letter-spacing: 0.3px;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.space-between {
    justify-content: space-between;
}

.row {
    flex-direction: row;
}

.cards {
    width: 30%;
}

.cards img {
    max-width: 30%;
    margin: 0 30%;
}

.half {
    width: 48%;
}

.half .logo {
    max-width: 300px;
    background-color: black;
    padding: 10px 20px;
}

.video {
    margin-bottom: 30px;
    margin-top: 30px;
}

footer {
    background-color: black;
    padding: 30px;
}

footer h2 {
    color: white;
    margin-bottom: 40px;
}

footer .flex-container {
    margin-top: 0;
}

footer .column {
    display: flex;
    flex-direction: column;
}

.footer-items {
    width: 100%;
}

.quarter:nth-child(1) {
    width: 7%;
}

.quarter:nth-child(2) {
    width: 7%;
}

.quarter:nth-child(3) {
    width: 30%;
}

.quarter:nth-child(4) {
    width: 20%;
}